-if sym == "Down"
  = image_tag("cross-circle.png")
-elsif sym == "Up"
  = image_tag("tick-circle.png")
-elsif sym == "Problem"
  = image_tag("exclamation.png")
-elsif sym == "Info"
  = image_tag("information.png")
-else
  = sym