= form_for [@service, @status], :html => {:class => 'form-horizontal'} do |f|
  .control-group
    %label Status:
    .radio.inline
      - [['Up','The service is up.'], 
        ['Down', 'The service is down.'],
        ['Info', 'Provide Information.'],
        ['Problem', 'The service is experiencing intermittent problems.']].each do |state, msg|  
        %label
          = f.radio_button(:state, state)
          = msg
  .control-group
    = f.label "Message:"
    = f.text_field :message
  .control-group
    = f.label "Time:"
    = f.datetime_select :time
  .form-actions
    = f.submit
